<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <section class="top center">
        <div class="top-box">
            <h1 class="heading">Добро пожаловать на мой сайт !</h1>
            <div class="sub-heading">
                <div class="sub-heading__text">
                    <span >Вам предстоит пройти несколько увлекательных игр. Если готов нажимай 
                    <b>поехали</b> и <b>приступай</b>
                    </span>
                </div>
            </div>
            <a href="#games">
                <button class="btn-go" type="submit">Поехали!</button>
            </a>
        </div>
    </section>
    <div class="games-box center" id="games">
        <a href="#game1">
            <div class="games-box__game">
                <picture>
                    <source media="(max-width: 1200px)" srcset="./static/img/game_1_mobile.png">
                    <source media="(min-width: 1201px)" srcset="./static/img/game_1.png">
                    <img src="./img/game_1.png" alt="Игра 1">
                </picture>
                <p class="games-box__game-name">Игра 1</p>
            </div>
        </a>
        <a href="#game2">
            <div class="games-box__game">
                <picture>
                    <source media="(max-width: 1200px)" srcset="./static/img/game_2_mobile.png">
                    <source media="(min-width: 1201px)" srcset="./static/img/game_2.png">
                    <img src="./img/game_2.png" alt="Игра 2">
                </picture>
                <p class="games-box__game-name">Игра 2</p>
            </div>
        </a>
        <div class="games-box__game">
            <picture>
                <source media="(max-width: 1200px)" srcset="./static/img/game_3_mobile.png">
                <source media="(min-width: 1201px)" srcset="./static/img/game_3.png">
                <img src="./img/game_3.png" alt="Игра 3">
            </picture>
            <p class="games-box__game-name">Игра 3</p>  
        </div>    
    </div>
    <section class="game-1 center" id="game1">
        <div class="game-1-box">
            <h2 class="game-1__heading">Времена года!</h2>
            <div class="game-1__sub-heading">
                <div class="game-1__sub-heading__text">
                    Нажмите кнопку играть, введите номер месяца (от 1 до 12) и вы узнаете к какому времени года он относится
                </div>
            </div>
            <button onclick="launchGameOne_2()" class="game-1__btn-go" type="submit">Играть!</button>        
        </div>
        <img class="game-1__pict" src="./static/img/game_1.svg" alt="Игра 1">
    </section>
    <section class="game-2 center" id="game2">
        <div class="game-2-box">
            <h2 class="game-2__heading">Запомни слова</h2>
            <div class="game-2__sub-heading">
                <div class="game-2__sub-heading__text">
                    При нажатии на кнопку играть, вы увидите несколько слов, которые вам необходимо запомнить.
                </div>
            </div>
            <button onclick="launchGameTwo()" class="game-2__btn-go" type="submit">Играть!</button>
        </div>
        <img class="game-1__pict" src="./static/img/game_2.svg" alt="Игра 2">
    </section>
    <section class="game-1 center" id="game3">
        <div class="game-1-box">
            <h2 class="game-1__heading">Запомни слова 2</h2>
            <div class="game-1__sub-heading">
                <div class="game-1__sub-heading__text">
                    При нажатии на кнопку играть, вы увидите несколько слов, которые вам необходимо запомнить.
                </div>
            </div>
            <button onclick="launchGameThree()" class="game-1__btn-go" type="submit">Играть!</button>
        </div>
        <img class="game-1__pict" src="./static/img/game_2.svg" alt="Игра 2">
    </section>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>